# supabase public access key
NEXT_PUBLIC_SUPABASE_URL=https://.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1Ni

# supabase service role key 
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1Ni

# Domain Details
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_DOMAIN=http://localhost:3000

# App redirects
NEXT_PUBLIC_SIGNUP_EMAIL_REDIRECT_TO=auth-callback?type=signup
NEXT_PUBLIC_PASSWORD_RESET_EMAIL_REDIRECT_TO=auth-callback?type=recovery
NEXT_PUBLIC_OAUTH_EMAIL_REDIRECT_TO=auth-callback?type=oauth
NEXT_PUBLIC_COOLDOWN_SECONDS=60

# payment
RAZORPAY_KEY_ID=rzp_test_
RAZORPAY_KEY_SECRET=NVMBq7j
RAZORPAY_WEBHOOK_SECRET=qRf4z